.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;

  @mixin atMedium {
    padding: 80px 20px;
  }

  &--title {
    text-transform: capitalize;
    font: 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
  }

  &--copy {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  &--break {
    width: 250px;
    height: 3px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
  }

  &--grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
