/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  margin-bottom: 50px;
}

section h3.title {
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 800px) {
  section {
    padding: 50px 20px;
  }
} */

/* HEADER STYLES */
/* 
header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 0s fadein 0.5s forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 800px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
} */

/* HERO STYLES */

/* .hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #000;
  opacity: 0;
  animation: 1s backfadein 0.5s forwards;
}

@keyframes backfadein {
  100% {
    opacity: 1;
  }
}

.hero h1 {
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
  text-shadow: 2px 2px #696969;
}

.hero h3 {
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn {
  padding: 20px 46px;
}

.hero-content-area {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero h3 {
    font-size: 24px;
  }
  .hero a.btn {
    padding: 15px 40px;
  }
} */

/* ABOUT SECTION */

/* #about .grid li {
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

#about .grid li.small {
  flex-basis: 30%;
}

#about .grid li.large {
  flex-basis: 70%;
}

@media (max-width: 1100px) {
  #about .grid li.small,
  #about .grid li.large {
    flex-basis: 50%;
  }
}

@media (max-width: 800px) {
  #about .grid li.small,
  #about .grid li.large {
    flex-basis: 100%;
  }
} */

/* EVENTS SECTION */

/* #events .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

#events .grid li i {
  color: #8c9eff;
}

#events .grid li h4 {
  font-size: 30px;
  margin: 25px;
}

@media (max-width: 800px) {
  #events .grid li {
    flex-basis: 100%;
    padding: 20px;
  }
} */

/* CONTRIBUTORS SECTION */

/* #contributors .quote {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin: 40px 0 25;
}

@media (max-width: 800px) {
  #contributors .quote {
    font-size: 18px;
    margin: 15px 0;
  }
  #contributors .author {
    font-size: 14px;
  }
} */

/* CONTACT SECTION */

/* #contact .btn {
  padding: 18px 42px;
}

@media (max-width: 1000px) {
  #contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
} */

/* FOOTER SECTION */

/* footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: #3f51b5;
  color: #fff;
  padding: 20px 0;
}

footer ul {
  display: flex;
  align-self: center;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}

@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }
  footer p {
    text-align: center;
    margin-bottom: 20px;
  }
  footer ul li {
    margin: 0 8px;
  }
} */
