#events .grid li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center;
}

#events .grid li i {
  color: #8c9eff;
}

#events .grid li h4 {
  font-size: 30px;
  margin: 25px;
}

@media (max-width: 800px) {
  #events .grid li {
    flex-basis: 100%;
    padding: 20px;
  }
}