header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 0s fadein 0.5s forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

header h2 {
  font-family: "Quicksand", sans-serif;
}

header nav {
  display: flex;
  margin-right: -15px;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 800px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
}